name: Build and Push Biolqm Docker Image

on:
    push:
        tags:
            - "biolqm-*"

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            # Checkout the repository
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            # Change directory and build/push Docker image
            - name: Build and Push Docker Image
              run: |
                   cd bbm-py/biolqm_docker
                   make